@using System.Web.Optimization


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Minton - Responsive Admin Dashboard & Landing Page Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    @*<!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

        <!--pe-icon-7 Icon -->
        <link rel="stylesheet" type="text/css" href="css/pe-icon-7-stroke.css" />

        <!-- Custom  css -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />*@

        @Styles.Render("~/bundles/bootstrap/css")

        @Styles.Render("~/bundles/main/css")

        @Styles.Render("~/bundles/materialdesignicons/css")

        @Styles.Render("~/bundles/peicon7/css")


</head>
<body data-spy="scroll" data-target=".fixed-top">

    <header class="sticky">

        @Html.Partial("_Header")

    </header>

    <footer class="bg-dark footer text-white">

        @RenderBody()

        @Html.Partial("_Footer")

    </footer>

    @Scripts.Render("~/bundles/bootstrap/js")

    @Scripts.Render("~/bundles/app/js")

    @Scripts.Render("~/bundles/counter-init/js")

    @Scripts.Render("~/bundles/easing-min/js")

    @Scripts.Render("~/bundles/jquery-min/js")

    @Scripts.Render("~/bundles/scrollspy-min/js")


</body>

